---
import data from "../data/data.json";
import Layout from "./components/layout/index.astro";
import NavigationMenu from "./components/menu/index.astro";
import Section from "./components/section/index.astro";

const menuItems = [
  ...data.sections.map((section, index) => ({
    title: section.title,
    index: `${index + 1}`,
    href: `#${section.title}`,
  })),
];

const sectionsData = data.sections.map((section) => ({
  title: section.title,
  description: section.description,
  image: section.image,
  subSections: section.subSections,
}));
---

<Layout title="My Awesome Page">
  <NavigationMenu menuItems={menuItems} />

  <Section id="home">
    <h2>Home Section</h2>
    <p>Content of the home section.</p>
  </Section>

  <Section id="about">
    <h2>About Section</h2>
    <p>Content of the about section.</p>
  </Section>

  <Section id="services">
    <h2>Services Section</h2>
    <p>Content of the services section.</p>
  </Section>

  <Section id="contact">
    <h2>Contact Section</h2>
    <p>Content of the contact section.</p>
  </Section>
</Layout>
